<h1><%= @user.username%></h1>

<p>Events this user is hosting:</p>
<%@user.hosted_events.each do |form|%>
<p> <%=form.event_date%></p>
<%end%>


<p>Upcoming Events</p>
<%@user.events.each do |event|%>
  <%if Date.parse(event.event_date) > Date.today%>
    <p>Attending event: <%=event.event_date%></p>
  <%end%>
<%end%>

<p>Past Events</p>
<%@user.events.each do |event|%>
  <%if Date.parse(event.event_date) < Date.today%>
    <p>Attending event: <%=event.event_date%></p>
  <%end%>
<%end%>

