<h1><%= @user.username%></h1>

<p><%=@user.events.take!%></p>

<p>Upcoming Events</p>
<%@user.events.each do |event|%>
  <%if Date.parse(event.event_date) > Date.today%>
    <p>Attending event: <%=event.event_date%></p>
  <%end%>
<%end%>

<p>Past Events</p>
<%@user.events.each do |event|%>
  <%if Date.parse(event.event_date) < Date.today%>
    <p>Attending event: <%=event.event_date%></p>
  <%end%>
<%end%>