<%@user.each do |user|%>
<%= button_to 'Invite', action: 'create', controller: 'event_attendence',method: 'post', params:{selected_event_id: params[:event], selected_user_id: user.id}%>
<p><%=user.username%></p>
<%end%>